<!-- Profile.cshtml -->
@{
    ViewData["Title"] = "User Profile";
}

<div class="container">
    <h1>User Profile</h1>


        <p>Email: @ViewData["name"] </p>

    
    <!-- Add other user profile information here -->
</div>
