@model EmployeeInfo
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3>Employee's Data</h3>
    <table class="table table-bordered">

        <tr>
           <!-- <td>@Model.EmployeeId</td>
            <td>@Model.EmployeeName</td>
            <td>@Model.EmployeeDepartment</td>
            <td>@Model.IsDeleted</td>-->
          <td>assdd</td>
          <td>assdd</td>
          <td>assdd</td>
            <td>assdd</td>

        </tr>

    </table>
</div>



