@model MVCAssignment2.Models.DetailedInformation
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>

<div>Use https://localhost:44360/demo/1<br />
     or
    https://localhost:44360/demo/2  <br />
     or
    https://localhost:44360/demo/3 <br>
    to see the result
</div>



