@model MVCAssignment2.Models.DetailedInformation
@{
    ViewData["Title"] = "Home Page";
}



<form>
    <div class="form-group">
        <label for="textInput" class="mb-3">Enter ID</label>
        <input type="text" class="form-control" id="textInput" aria-describedby="idHelp" placeholder="Enter ID">
        </div>
  
    <button type="submit" id="SubmitBtn" class="btn btn-primary my-3">Submit</button>

</form>




<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>

<div>Use https://localhost:44360/demo/1<br />
     or
    https://localhost:44360/demo/2  <br />
     or
    https://localhost:44360/demo/3 <br>
    to see the result
</div>-->



