@model AllEmployee

@using (Html.BeginForm("AddEmployee", "Home", FormMethod.Post))
{
    <div>
        <label for="EmployeMasterId">EmployeMasterId:</label>
        <input type="text" name="EmployeMasterId" id="EmployeMasterId" required>
    </div>
    <div>
        <label for="EmployeeName">Employee Name:</label>
        <input type="text" name="EmployeeName" id="EmployeeName" required>
    </div>
    <div>
        <label for="Email">Email:</label>
        <input type="text" name="Email" id="Email" required>
    </div>
    <div>

        <label for="ManagerName">Manager Name:</label>
        <select form="ManagerName" class="form-select form-select-lg mb-3" >
            <option selected>Select Manager</option>
            <option value="1">Surendra</option>
            <option value="2">Anand</option>
            <option value="3">Piyush</option>
        </select>
    </div>
    <div>
        <label for="Department">Department:</label>
        <select class="form-select form-select-lg mb-3">
            <option selected>Select Department</option>
            <option value="1">IT</option>
            <option value="2">CS</option>
     
        </select>
    </div>
    <div>
        <label for="PlannerName">Planner Name:</label>
        <select class="form-select form-select-lg mb-3" >
            <option selected>Planner Name</option>
            <option value="1">Ruchir</option>
            <option value="2">Chetan</option>
            <option value="3">Ravi</option>
            <option value="3">Piyush</option>
        </select>
    </div>
    <button type="submit">Add Employee</button>
}




@*@using (Html.BeginForm("AddEmployee", "Home", FormMethod.Post))
{
    <div>
        <label for="EmployeMasterId">EmployeMasterId:</label>
        <input type="text" name="EmployeMasterId" id="EmployeMasterId" required>
    </div>
    <div>
        <label for="EmployeeName">Employee Name:</label>
        <input type="text" name="EmployeeName" id="EmployeeName" required>
    </div>
    <div>
        <label for="Email">Email:</label>
        <input type="text" name="Email" id="Email" required>
    </div>
    <!-- Other form fields remain the same -->
    <button type="submit">Add Employee</button>
}*@